

    <!--================Fullwidth block Area =================-->

    <section class="fullwidth-block area-padding-bottom">
        <div class="container-fluid">
            <div class="row">

              <div class="col-md-6 col-lg-6 col-xl-4">
                  <div class="single-blog style_two">
                      <div class="thumb1">
                          <%=image_tag "home.jpg"%>
                      </div>
                      <div class="short_details text-center ">

                          <div class="meta-top d-flex justify-content-center">
                              <a href="#">Alice Gleizes</a>
                          </div>
                          <a class="d-block" href="single-blog.html">
                              <h4>Le Mot de la Bombe</h4>
                          </a>
                          <!--<div class="meta-bottom d-flex justify-content-center">
                              <a href="#">March 12 , 2019 . </a>
                              <a href="#">By Alen Mark</a>
                          </div>-->
                      </div>
                  </div>
              </div>

                <div class="col-md-6 col-lg-6 col-xl-5">
                    <div class="single-blog">
                        <div class="thumb1">
                            <%=image_tag "visages.jpg"%>
                        </div>
                        <div class="short_details">
                            <div class="meta-top d-flex">
                                <a href="#">Visages</a>
                            </div>
                            <a class="d-block" href="single-blog.html">
                                <h4>Created face stars sixth forth fow
                                Earth firmament meat</h4>
                            </a>
                            <div class="meta-bottom d-flex" >
                                <a href="#">March 12 , 2019 . </a>
                                <a class="dark_font" href="#">By Alen Mark</a>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-lg-12 col-xl-3">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6 col-xl-12">
                            <div class="single-blog style-three m_b_30">

                                <div class="thumb2">
                                    <%=image_tag "berlin.jpg"%>
                                </div>
                                <div class="short_details">

                                    <div class="meta-top d-flex justify-content-center">
                                        <a href="#">Little Berlin(s)</a>
                                    </div>
                                    <a class="d-block" href="single-blog.html">
                                        <h4>The abundantly brout after day fish there image</h4>
                                    </a>
                                </div>
                            </div>

                        </div>
                        <div class="col-12 col-md-6 col-lg-6 col-xl-12">
                            <div class="single-blog style-three">
                                <div class="thumb2">
                                    <%=image_tag "engages.jpg" %>
                                </div>
                                <div class="short_details">

                                    <div class="meta-top d-flex justify-content-center">
                                        <a href="#">Les Engagés</a>
                                    </div>
                                    <a class="d-block" href="single-blog.html">
                                        <h4>The abundantly brought after day fish there image</h4>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <!--================Fullwidth block Area end =================-->


    <!--================ First block section start =================-->

    <section class="first_block">
      <div class="container">
          <div class="row">
              <div class="area-heading">
                  <h3>Derniers articles</h3>
                  <p>Abundantly creeping saw forth spirit can made appear fourth us.</p>
              </div>

          </div>
          <div class="row">
              <div class="col-lg-7">
                  <div class="single-blog video-style">
                      <div class="thumb">
                          <%=image_tag "streetart1.jpg" %>
                          <!--<div class="play_btn">
                              <a class="play-video" href="https://www.youtube.com/watch?v=MrRvX5I8PyY" data-animate="zoomIn"
                              data-duration="1.5s" data-delay="0.1s"><span class="ti-control-play"></span></a>
                          </div>-->
                      </div>
                      <div class="short_details">
                          <div class="meta-top d-flex">
                              <a href="#">Visage</a>/
                              <a href="#">March 15, 2019</a>
                          </div>
                          <a class="d-block" href="single-blog.html">
                              <h4>Created face stars sixth forth fow
                              Earth firmament meat</h4>
                          </a>
                          <div class="meta-bottom d-flex">
                              <a href="#"><i class="ti-comment"></i>05 comment</a>
                              <a href="#"><i class="ti-heart"></i> 0 like</a>
                              <a href="#"><i class="ti-eye"></i> 1k view</a>
                          </div>
                      </div>
                  </div>

              </div>

              <div class="col-lg-5">
                  <div class="single-blog video-style small row m_b_30">
                      <div class="thumb3 col-12 col-sm-5">
                          <%=image_tag "streetart2.jpg" %>
                      </div>
                      <div class="short_details col-12 col-sm-7">
                          <div class="meta-top d-flex">
                              <a href="#">Little Berlin(s)</a>
                          </div>
                          <a class="d-block" href="single-blog.html">
                              <h4>Blessed night morning on
                              them you great</h4>
                          </a>
                          <div class="meta-bottom d-flex">
                              <a href="#"><i class="ti-time"></i>mar 12</a>
                              <a href="#"><i class="ti-heart"></i> 0 like</a>
                              <a href="#"><i class="ti-eye"></i> 1k view</a>
                          </div>
                      </div>
                  </div>

                  <div class="single-blog video-style small row m_b_30 ">
                      <div class="thumb3 col-12 col-sm-5">
                          <%=image_tag "streetart3.jpg" %>
                      </div>
                      <div class="short_details col-12 col-sm-7">
                          <div class="meta-top d-flex">
                              <a href="#">Les Engagés</a>
                          </div>
                          <a class="d-block" href="single-blog.html">
                              <h4>Blessed night morning on
                              them you great</h4>
                          </a>
                          <div class="meta-bottom d-flex">
                              <a href="#"><i class="ti-time"></i>mar 12</a>
                              <a href="#"><i class="ti-heart"></i> 0 like</a>
                              <a href="#"><i class="ti-eye"></i> 1k view</a>
                          </div>
                      </div>
                  </div>

                  <div class="single-blog video-style small row">
                      <div class="thumb3 col-12 col-sm-5">
                          <%=image_tag "streetart4.jpg" %>
                      </div>
                      <div class="short_details col-12 col-sm-7">
                          <div class="meta-top d-flex">
                              <a href="#">Visage</a>
                          </div>
                          <a class="d-block" href="single-blog.html">
                              <h4>Blessed night morning on
                              them you great</h4>
                          </a>
                          <div class="meta-bottom d-flex">
                              <a href="#"><i class="ti-time"></i>mar 12</a>
                              <a href="#"><i class="ti-heart"></i> 0 like</a>
                              <a href="#"><i class="ti-eye"></i> 1k view</a>
                          </div>
                      </div>
                  </div>

              </div>
          </div>
      </div>
    </section>
    <!--================ First block section end =================-->
