
  <!--================Home Banner Area =================-->
    <section class="banner_area">
      <div class="banner_inner d-flex align-items-center">
        <div class="container">
          <div
            class="banner_content d-md-flex justify-content-between align-items-center"
          >
            <div class="mb-3 mb-md-0">
              <h2>Little Berlin(s)</h2>
            </div>
            <div class="page_link">
              <a href="<%=root_path%>">Accueil</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================End Home Banner Area =================-->




    <!--================ First block section start =================-->

 <section class="first_block" style="margin-top:8em;">
     <div class="container">
         <div class="row">
             <div class="col-lg-8 col-xl-6">
                 <div class="single-blog row no-gutters style-four border_one">
                     <div class="col-12 col-sm-12">
                         <div class="thumb">
                            <%=image_tag "berlin1.jpg", class:"img-fluid"%>
                         </div>
                     </div>
                 </div>
             </div>

             <div class="col-lg-4 col-xl-3">
                 <div class="single-blog style_five">
                     <div class="thumb">
                       <%=image_tag "berlin2.jpg", class:"img-fluid", style:"height:26em;width:auto;object-fit:cover;"%>
                     </div>
                 </div>
             </div>

             <div class="col-lg-4 col-xl-3">
                 <div class="single-blog style_five">
                     <div class="thumb">
                       <%=image_tag "berlin3.jpg", class:"img-fluid", style:"height:26em;width:auto;object-fit:cover;"%>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </section>
 <!--================ First block section end =================-->

 <!--================ Editors Picks section start =================-->

 <section class="editors_pick area-padding">
     <div class="container">
         <div class="row">
             <div class="area-heading">
                 <h3>Little Berlin(s)</h3>
                 <p style="font-size:22px;">Des quartiers se transforment en musées à ciel ouvert</p>
             </div>
         </div>
         <div class="row">
             <div class="col-lg-5 col-xl-6">
                 <div class="single-blog">
                     <div class="thumb">
                       <%=image_tag "berlin4.jpg", class:"img-fluid", style:"height:52em;width:auto;object-fit:cover;"%>
                     </div>
                 </div>
             </div>
             <div class="col-lg-7 col-xl-6">
                 <div class="single-blog row no-gutters style-four m_b_30">
                     <div class="col-12 col-sm-7">
                         <div class="short_details padd_left_0">
                             <div class="meta-top d-flex">
                                 <a href="#">Tours & Travel</a>
                             </div>
                             <a class="d-block" href="single-blog.html">
                                 <h4 class="font-20">Light that hath itself god
                                     grass herb dark sea on
                                 the hath dowe </h4>
                             </a>
                             <p>Said spirit evening above good twes at  god midst deep a wherein very made he seas male very broug sad forth saying right.</p>
                         </div>
                     </div>
                     <div class="col-12 col-sm-5">
                         <div class="thumb">
                           <%=image_tag "berlin5.jpg", class:"img-fluid"%>
                         </div>
                     </div>
                 </div>

                 <div class="single-blog row no-gutters style-four">
                     <div class="col-12 col-sm-5">
                         <div class="thumb">
                           <%=image_tag "berlin6.jpg", class:"img-fluid"%>
                         </div>
                     </div>
                     <div class="col-12 col-sm-7">
                         <div class="short_details padd_right_0">
                             <div class="meta-top d-flex">
                                 <a href="#">Tours & Travel</a>
                             </div>
                             <a class="d-block" href="single-blog.html">
                                 <h4 class="font-20">Light that hath itself god
                                     grass herb dark sea on
                                 the hath dowe </h4>
                             </a>
                             <p>Said spirit evening above good twes at  god midst deep a wherein very made he seas male very broug sad forth saying right.</p>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </section>


<section>

  <div class="container" style="justify-content:center; text-center;">

    <div class="area-heading">
        <h3>Little Berlin(s)</h3>
        <p style="font-size:22px;">Des quartiers se transforment en musées à ciel ouvert</p>
    </div>

    <center><iframe src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2F2268160013432148%2Fvideos%2F2588055061442640%2F&show_text=false&width=560&t=0" width="560" height="314" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true" ></iframe></center>

</div>

</section>

 <!--================ Editors Picks section end =================-->
