
  <!--================Home Banner Area =================-->
    <section class="banner_area">
      <div class="banner_inner d-flex align-items-center">
        <div class="container">
          <div
            class="banner_content d-md-flex justify-content-between align-items-center"
          >
            <div class="mb-3 mb-md-0">
              <h2>Little Berlin(s)</h2>
            </div>
            <div class="page_link">
              <a href="<%=root_path%>">Accueil</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================End Home Banner Area =================-->




    <!--================ First block section start =================-->

 <section class="first_block" style="margin-top:8em;">
     <div class="container">
         <div class="row">

           <div class="area-heading">
               <h3>Little Berlin(s)</h3>
               <p style="font-size:22px;">Des quartiers se transforment en musées à ciel ouvert</p>
           </div>

             <div class="col-lg-8 col-xl-6">
                 <div class="single-blog row no-gutters style-four border_one">
                     <div class="col-12 col-sm-12">
                         <div class="thumb">
                            <%=image_tag "berlin1.jpg", class:"img-fluid"%>
                         </div>
                     </div>
                 </div>
             </div>

             <div class="col-lg-4 col-xl-3">
                 <div class="single-blog style_five">
                     <div class="thumb">
                       <%=image_tag "berlin2.jpg", class:"img-fluid", style:"height:26em;width:auto;object-fit:cover;"%>
                     </div>
                 </div>
             </div>

             <div class="col-lg-4 col-xl-3">
                 <div class="single-blog style_five">
                     <div class="thumb">
                       <%=image_tag "berlin3.jpg", class:"img-fluid", style:"height:26em;width:auto;object-fit:cover;"%>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </section>
 <!--================ First block section end =================-->

 <!--================ Editors Picks section start =================-->

 <section class="editors_pick area-padding">
     <div class="container">
         <div class="row" >

           <div class="area-heading mb-4 pb-4" style="justify-content:center;" >
               <h3>Le petit Berlin nimoîs</h3>
               <p style="font-size:22px; padding:0 6em 0 6em;" class="col-12">A Nimes, le quartier Gambetta est un véritable terrain de jeu pour les street-artistes. Ils recouvrent la misère de bâtiments laissés à l'abandon depuis de nombreuses années. </p>
           </div>

         </div>
         <div class="row mt-4 pt-4">
             <div class="col-lg-5 col-xl-6">
                 <div class="single-blog">
                     <div class="thumb">
                       <%=image_tag "berlin4.jpg", class:"img-fluid", style:"height:52em;width:auto;object-fit:cover;"%>
                     </div>
                 </div>
             </div>
             <div class="col-lg-7 col-xl-6">
                 <div class="single-blog row no-gutters style-four m_b_30">
                     <div class="col-12 col-sm-7">
                         <div class="short_details padd_left_0">
                                 <h4 class="font-20 d-block">Les ruines de Gambetta</h4>
                             <p>
                            Dans le quartier Gambetta, des façades d’immeubles se fissurent, des vestiges d’incendies se devinent le long des plafonds noirs de suie, les fenêtres sont condamnées par des planches ou murées par des parpaings. </p>
                         </div>
                     </div>
                     <div class="col-12 col-sm-5">
                         <div class="thumb">
                           <%=image_tag "berlin5.jpg", class:"img-fluid"%>
                         </div>
                     </div>
                 </div>

                 <div class="single-blog row no-gutters style-four">
                     <div class="col-12 col-sm-5">
                         <div class="thumb">
                           <%=image_tag "berlin6.jpg", class:"img-fluid"%>
                         </div>
                     </div>
                     <div class="col-12 col-sm-7 mb-4 pb-4">
                         <div class="short_details padd_right_0">
                             <p>Le Spot, association nîmoise, poumon socio-culturel du quartier, invite chaque année au mois de septembre des street-artistes lors de l’Expo de ouf. Un événement ouvert au public, où les plus grands viennent de la France entière et parfois de l’étranger, ils s’installent pendant une semaine pour réaliser des fresques géantes sur les murs.</p>
                         </div>
                     </div>
                 </div>
             </div>
         </div>

         <blockquote class="col-10 mt-4 pt-4">
           « Quand il y a eu les premières éditions de cet événement, l’idée était d’utiliser l’art comme un projecteur sur des bâtiments abandonnés. De plus dans des quartiers politique de la Ville, c’est invraisemblable. Et ce sont des bâtiments municipaux, qui se décomposent depuis vingt voire trente ans. »
         </blockquote>

         <p class="col-10">Cédric Crouzy,médiateur et co-fondateur du Spot, se désole de l’état de toute une zone urbaine laissée à l’abandon, « alors que c’est un quartier à très fort potentiel », note-t-il. « On essaye d’occuper les bâtiments et de dynamiser pour pas que les immeubles ne se dégradent. Mais c’est de l’urbanisme de transition. » </p>

         <blockquote>« Utiliser l’art comme projecteur » - Cédric Crouzy</blockquote>

         <p class="col-10">Les dernières éditions de l’Expo de ouf ont transformé le quartier en un véritable musée. Mais depuis quelques semaines, les pelleteuses grognent et les marteaux-piqueurs se déchaînent. Les promoteurs immobiliers rachètent les bâtiments les uns après les autres. La célèbre fresque d’Arkane, couvrant la façade en ruine au coin des rues Clérisseau et Bachalas, disparaissait début juillet dans les débris. « Ça nous fait un pincement au cœur mais c’est la dimension éphémère et inhérente au projet. On est ravis pour le quartier et les habitants que ces immeubles soient enfin repris en main. » </p>

         <p class="ml-3"><em>Le 15 juillet 2021</em></p>


     </div>

 </section>


<section>

  <div class="container" style="justify-content:center; text-center;">

    <div class="area-heading">
        <h3>Le quartier Méditerranée</h3>
        <p style="font-size:22px;">Des quartiers se transforment en musées à ciel ouvert</p>
        <p style="font-size:18px; padding : 0 6EM 0 6em;"> Un quartier multi-culturel, multigénérationnel. Ici, « le street-art fait partie de la cohésion », pense Lino, jeune trentenaire habitant le quartier. Immersion, en vidéo.</p>
    </div>

    <center><iframe src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2F2268160013432148%2Fvideos%2F2588055061442640%2F&show_text=false&width=560&t=0" width="560" height="314" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true" ></iframe>
    <p><em>Le 26 août 2021</em></center>

</div>

</section>

 <!--================ Editors Picks section end =================-->
