<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 mx-auto" style="margin-top:8em;">

    <h2 class="col-12 text-left mb-4 title-ajouts">Modifier l'article :</h2>

    <%= form_tag url_for(action:'update'), method: "patch" do %>

    <div class="col-lg-12 ">
      <span>Titre de l'article</span>
      <div class="form-group contact-block1">
        <%= text_field_tag 'title', @articleup.title,  class:"form-control icon-file" %>
      </div>
    </div>


    <div class="col-lg-12 ">
      <span>Titre de l'article</span>
      <div class="form-group contact-block1">
        <%= text_area_tag 'subject', @articleup.subject,  class:"form-control icon-file" %>
      </div>
    </div>

    <div class="col-lg-12 ">
      <span>Titre de l'article</span>
      <div class="form-group contact-block1">
        <%= text_area_tag 'img_desc', @articleup.img_desc,  class:"form-control icon-file" %>
      </div>
    </div>


    <div class="col-lg-12 my-4">
      <div class="form-group">
        <span>Contenu</span>
        <%= text_area_tag 'content', @articleup.content,  class:"form-control icon-euro", id:"post_body_edit" %>
      </div>
      <trix-editor input="post_body_edit"></trix-editor>

    </div>



    <div class="col-6 mt-4 text-right">
      <%= submit_tag "Mettre à jour l'article", class:"btn btn-form", style:"border-radius:20px; margin:2em 0;"  %>

    <% end %>
    </div>



    </div>
