
    <!--================Home Banner Area =================-->
    <section class="banner_area">
      <div class="banner_inner d-flex align-items-center">
        <div class="container">
          <div
            class="banner_content d-md-flex justify-content-between align-items-center"
          >
          <div class="page_link">
            <a href="<%=root_path%>">Accueil</a>
            <a href="<%=categorie_path(1)%>"><%=@article.categorie.categorie_name%></a>
          </div>
            <div class="mb-3 mb-md-0">
              <h2></h2>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================End Home Banner Area =================-->



<!--================Blog Area =================-->
<section class="blog_area single-post-area area-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 posts-list">
                <div class="single-post">
                    <div class="feature-img">

                      <h2><%=@article.title%></h2>
                      <ul class="blog-info-link mt-3 mb-4">
                          <li><a href="<%=categorie_path(1)%>"> <%=@article.categorie.categorie_name%></a></li>
                          <li><a href="#"><i class="far fa-comments"></i> <%=@article.comments.count%> Commentaire(s)</a></li>
                      </ul>

                      <p><%=@article.subject%></p>


                      <%if @article.avatar.attached?%>
                        <%= image_tag @article.avatar, alt: 'avatar', style:"height:35em;width:100%;object-fit:cover;" %>
                      <%else%>
                        <%=image_tag "home.jpg", style:"height:30em;width:100%;object-fit:cover;"%>
                      <%end%>

                      <p><%=@article.img_desc%></p>

                    </div>

                    <% if current_user.nil?%>

                    <%elsif current_user.is_admin == true %>
                      <h3>Changer d'avatar ?</h3>
                      <%= form_tag article_avatars_path(@article), multipart: true do %>
                        <%= file_field_tag :avatar %>
                        <%= submit_tag "mettre à jour" %>
                      <% end %>


                    <%else%>

                    <%end%>


                    <div class="blog_details">

                        <%= sanitize @article.content%>

                    </div>
                </div>
                <div class="navigation-top">
                    <div class="d-sm-flex justify-content-between text-center">
                        <p class="like-info"><span class="align-middle"><i class="far fa-heart"></i></span><%=@likes.count%> </p>
                        <div class="col-sm-4 text-center my-2 my-sm-0">
                            <p class="comment-count"><span class="align-middle"><i class="far fa-comment"></i></span> <%=@comments.count%> Commentaires</p>
                        </div>
                    </div>

                </div>


                <div class="comments-area">
                    <h4><%=@comments.count%> Commentaire(s)</h4>
                    <div class="comment-list">

                      <% @comments.each do |i|%>

                        <div class="single-comment justify-content-between d-flex">
                            <div class="user justify-content-between d-flex">

                                <div class="desc">
                                    <p class="comment">
                                        <%=i.comment_content%>
                                    </p>

                                    <div class="d-flex justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <h5>
                                                <%=i.pseudo%>
                                            </h5>
                                            <p class="date">December 4, 2017 at 3:12 pm </p>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                        <%end%>

                    </div>
                </div>




                <div class="comment-form">
                    <h4>Laisser un commentaire</h4>

                    <%= form_tag url_for(article_comment_index_path(params[:id])), :comment => @comment, method: 'post',class:"register-form" do %>
                      <div class="row">

                        <div class="col-lg-12 my-4">
                          <div class="form-group contact-block1">
                            <%= text_field_tag 'pseudo', nil, placeholder: 'Pseudo', class:"form-control "%>
                          </div>
                        </div>


                        <div class="col-lg-12 ">
                          <div class="form-group contact-block1">
                            <%= text_area_tag 'comment_content', nil, placeholder: 'Votre commentaire', class:"form-control ", rows:"3"%>
                          </div>
                        </div>


                        <div class="ml-4 mt-2 text-right ">
                          <%= submit_tag " Ajouter ", class:"button button-contactForm", style:"border-radius:20px;" %>
                          <%end%>
                        </div>


                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog_right_sidebar">

                  <aside class="single_sidebar_widget popular_post_widget">
                      <h3 class="widget_title">Visages</h3>

                      <% @visages.each do |i|%>
                      <div class="media post_item">
                        <%if i.avatar.attached?%>
                          <%= image_tag i.avatar, alt: 'avatar', style:"width:7em;height:6em;object-fit:cover;" %>
                        <%else%>
                          <%=image_tag "home.jpg", style:"width:7em;height:6em;object-fit:cover;"%>
                        <%end%>
                          <div class="media-body">
                              <a href="<%=article_path(i)%>">
                                  <h3><%=i.title%></h3>
                              </a>
                              <p><%=i.created_at.strftime("Le %m/%d/%Y")%></p>
                          </div>
                      </div>
                      <%end%>

                  </aside>

                    <aside class="single_sidebar_widget popular_post_widget">
                        <h3 class="widget_title">Les Engagés</h3>

                        <% @engages.each do |i|%>
                        <div class="media post_item">
                          <%if i.avatar.attached?%>
                            <%= image_tag i.avatar, alt: 'avatar' , style:"width:7em;height:6em;object-fit:cover;"%>
                          <%else%>
                            <%=image_tag "home.jpg", style:"width:7em;height:6em;object-fit:cover;"%>
                          <%end%>
                            <div class="media-body">
                                <a href="<%=article_path(i)%>">
                                    <h3><%=i.title%></h3>
                                </a>
                                <p><%=i.created_at.strftime("Le %m/%d/%Y")%></p>
                            </div>
                        </div>
                        <%end%>

                    </aside>


                    <aside class="single_sidebar_widget popular_post_widget">
                        <h3 class="widget_title">Les Experts</h3>

                        <% @experts.each do |i|%>
                        <div class="media post_item">
                          <%if i.avatar.attached?%>
                            <%= image_tag i.avatar, alt: 'avatar', style:"width:7em;height:6em;object-fit:cover;" %>
                          <%else%>
                            <%=image_tag "home.jpg", style:"width:7em;height:6em;object-fit:cover;"%>
                          <%end%>
                            <div class="media-body">
                                <a href="<%=article_path(i)%>">
                                    <h3><%=i.title%></h3>
                                </a>
                                <p><%=i.created_at.strftime("Le %m/%d/%Y")%></p>
                            </div
                        </div>
                        <%end%>

                    </aside>


                    <aside class="single_sidebar_widget newsletter_widget">
                        <h4 class="widget_title">Vous avez aimé l'article ?</h4>
                        <div >
                          <%= form_tag url_for(article_like_index_path(params[:id])), :like => @like, method: 'post',class:"register-form" do %>
                            <div class="row">
                              <%= button_tag(type: 'submit', class: "button button-contactForm2") do %>
                              J'<i class="far fa-heart"></i>
                                <% end %>
                              <%end%>

                            </div>
                        </div>
                    </aside>


                    <aside class="single_sidebar_widget newsletter_widget">
                        <h4 class="widget_title">Newsletter</h4>

                        <form action="#">
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Enter email" required>
                            </div>
                            <button class="button rounded-0 primary-bg text-white w-100" type="submit">Subscribe</button>
                        </form>
                    </aside>

                </div>
            </div>
        </div>
    </div>
</section>
<!--================Blog Area end =================-->
