<!DOCTYPE html>
<html>
  <head>
    <title>AliceTest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <!--================ Start header Top Area =================-->
  <section class="header-top">
  <div class="container">
      <div class="row align-items-center justify-content-between">
          <div class="col-6 col-lg-4">
              <div class="float-left">
                  <ul class="header_social">
                      <li><a href="#"><i class="ti-facebook"></i></a></li>
                      <li><a href="#"><i class="ti-twitter"></i></a></li>
                      <li><a href="#"><i class="ti-instagram"></i></a></li>
                      <li><a href="#"><i class="ti-skype"></i></a></li>
                      <li><a href="#"><i class="ti-vimeo"></i></a></li>
                  </ul>
              </div>
          </div>
          <div class="col-6 col-lg-4 col-md-6 col-sm-6 logo-wrapper">
              <a href="<%=root_path%>" class="logo_title">
                  <h1 class="">Le Mot de la <span style="color: #F07A80;">Bombe</span>.</h1>
              </a>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6 search-trigger">
              <div class="right-button">
                  <ul>
                    <!--  <li><a id="search" href="javascript:void(0)"><i class="fas fa-search"></i></a></li>
                      <li><a href="">About</a></li>
                      <li><a href="">Subscribe</a></li>-->
                  </ul>
              </div>
          </div>
      </div>
  </div>

  </section>
  <!--================ End header top Area =================-->
  <!-- Start header Menu Area -->
      <header id="header" class="header_area">
          <div class="main_menu">
              <nav class="navbar navbar-expand-lg navbar-light">
                  <div class="container">
                      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                      </button>
                      <!-- Collect the nav links, forms, and other content for toggling -->
                      <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                          <ul class="nav navbar-nav menu_nav ml-auto mr-auto">
                              <li class="nav-item active"><a class="nav-link" href="index.html">Accueil</a></li>
                              <li class="nav-item"><a class="nav-link" href="category.html">A Propos</a></li>
                              <li class="nav-item"><a class="nav-link" href="archive.html">Visages</a></li>
                              <li class="nav-item"><a class="nav-link" href="archive.html">Les Engagés</a></li>
                              <li class="nav-item"><a class="nav-link" href="archive.html">Little Berlin(s)</a></li>
                              <!--<li class="nav-item submenu dropdown">
                                  <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Les Enag</a>
                                  <ul class="dropdown-menu">
                                      <li class="nav-item"><a class="nav-link" href="blog.html">Blog</a></li>
                                      <li class="nav-item"><a class="nav-link" href="single-blog.html">Blog Details</a></li>
                                  </ul>
                              </li>-->
                          </ul>
                      </div>
                  </div>
              </nav>
          </div>
      </header>
      <!-- End header MEnu Area -->

  <body>
    <%= yield %>





        <!-- ================ start footer Area ================= -->
        <footer class="footer-area">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-sm-6 mb-4 mb-xl-0 single-footer-widget">
                        <h4>Alice Gleizes</h4>
                        <p>Heaven fruitful doesn't over lesser days appear creeping seasons so behold bearing days open</p>
                        <div class="footer-logo">
                            Le mot de la Bombe
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6 mb-4 mb-xl-0 single-footer-widget">
                        <h4>Contact Info</h4>
                        <div class="footer-address">
                            <p>Address :Your address goes
                            here, your demo address.</p>
                            <span>Phone : +8880 44338899</span>
                            <span>Email : info@colorlib.com</span>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6 mb-4 mb-xl-0 single-footer-widget">
                        <h4>Articles</h4>
                        <ul>
                            <li><a href="#">Les visages</a></li>
                            <li><a href="#">Les Engagés</a></li>
                            <li><a href="#">Little Berlin(s)</a></li>
                            <li><a href="#">Shopping Cart</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-sm-6 col-md-6 mb-4 mb-xl-0 single-footer-widget">
                        <h4>Se connecter</h4>
                        <ul>
                          <% if user_signed_in? %>
                            <li>
                              <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
                            </li>

                            <li>
                              Voici ton email : <%= current_user.email %>
                            </li>


                            <li>
                              <%= link_to "Edit email / password", edit_user_registration_path %>
                            </li>

                          <% else %>
                            <li>
                              <%= link_to "Sign in", new_user_session_path %>
                            </li>

                          <% end %>
                        </ul>

                </div>
            </div>

        </div>
    </footer>
    <!-- ================ End footer Area ================= -->


  </body>
</html>
